content/claude_structure.md
content/content_brainstorm.md
content/gemini_structure.md
content/o3_content.md
content/o3_structure.md
guides/tools_o3pro.md
guides/tools_o3
guides/tools.md
guides/workflow.md

.obsidian/*